extends layout
block content
  <div class="container">
     
      <div class="box-2"><img src="http://10.1.10.232:8000/images/WHITEPAPERICONTEXT.SVG"></div>
      <div class="box-3"><img src="http://10.1.10.232:8000/images/HARDWAREICONTEXT.SVG"></div>
      <div class="box-4"><img src="http://10.1.10.232:8000/images/TOKENICONTEXT.svg"></div>
      <div class="box-5">
      <h1>MK-Horizon $Gummi Token Contract Address: 0x1eed928e8340ddcdfa2b7fb5adc0bb6aa3c7d029</h1>
      </div>
      <div class="box-6">
      <br>
      <ul><h1>MK-Horizon</h1> 
      <h1>$Gummi</h1></ul>
      <br>
      <h1>contract address:</h1>
      <h1>0x1eed928e8340ddcdfa2b7fb5adc0bb6aa3c7d029 </h1>
      <br>
      <p3>$Gummi was created to emphasis a need for more hardware dedicated to decentralized applications and tasks.</p3> 
      <p3>$Gummi rewards token holders who believe that in time Hardware dedicated to blockcahin applications will overtake legacy hardware in scale and usage.</p3>  
      <br>
      <h1>How it Works</h1>
      <br>
      <h2> Automated Liquidity</h2>
      <br>
      <p2>5% fee auto add to the liquidity pool when selling </p2>
      <p2>5% fee auto distribute to all holders</p2>
      <p2>Buyers and sellers are automatically paired</p2>
      <br>
      <h2>Manual Burning</h2>
      <br>
      <p2>We will destroy %30 of totally the total supply pre-launch And another %10 post-launch</p2>
      <br>    

      <h2>Manual Liquidity</h2>
      <br>
      <p2>A portion of promotional hardware sales are added manually added to the liquidity pool via Pancakeswap on a rolling basis.</p2>
      <br>
      <h1>What's Next</h1>
      <br>
      <p2>to learn more click the whitepaper link to download the Gummi white paper </p2>
      <p2> click the $Gummi button for How to use Pancake swap to get your $Gummi</p2>
      <br>
        
        </div>
     
        
        </div>
  </div>
