<div class="box-6">
        <form action="" class="form">
          <h1 class="form__title">Sign-up</h1> 
          <p class="form__desscription">Get the the latest updates on MK-Horizon</p>
          <div class="form__group">
            <input type="text" id="email" class="form__input" placeholder="" autocomplete="off">
              <label for="email" class="form__label"> email</label>
            </div>
          <div class="form__group">
              <input type="text" id="password" class="form__input" placeholder="" autocomplete="off">
                    <label for="password" class="form__label">password</label> 
                    </div>
                    <button class="form__button">Sign up </button>
        </form>
