extends layout
block content
  <div class="container">
     
      <div class="box-2"><p><H2>Add BSC to Metamask Wallet</H2></p></div>
      <div class="box-3"><p><H2>Add BNB to Metamask Wallet Via Binance Chain Wallet</H2></p></div>
      <div class="box-4"><p><H2>Swap Tokens Via Pancakeswap</H2></p></div>
      <div class="box-6"><H2>How to add a new token from Binance Smart Contract Mainnet to MetaMask Wallet</H2>
      <br>
      <p>1.
      <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en"> Download MetaMask Chrome extension App</a></p>
      <br>
      <p>2. Follow the prompts to create your wallet. You will need to store a "Secret Recovery Phrase" and pass code.</p>
      <br>
      <p>3. Login to Metamask using the pass code you created </p>
      <br>
      <p>4. After loging into on Metamask, select the button top center button titled "Ethereum Mainnet". </p>
      <br>
      <p>5. Select "Custom RPC", at the bottom of the menu dropdwon menu "Networks" </p>
      <br>
      <p>6.Enter this information into "Custom RPC"</P> 
      <br>
      <p><h3>BSC Mainnet</h3></P>
      <br>
      <p><h3>RPC URLs</h3></P>
      <p><h3>ChainID: 0x38, 56 in decimal (if 56 doesn’t work, try 0x38)</h3></p>
      <p><h3>Symbol: BNB</h3></p> 
      <p><h3>Block Explorer: https://bscscan.com</h3></p>
      <br>
      <p>7. Select "Add Token" </P>
      <br>
      <p>8. Enter "Contract Address" ex. 0x1eed928e8340ddcdfa2b7fb5adc0bb6aa3c7d029 and "Symbol", click "Next" </P>
      <br>
      <p>9. Select "Add Tokens" </p>
      <br>
      <p>Success!</p>
      <br> 
      <p>We are almost ready to swap tokens.</P>
      <br> 
      <p>Now, we need a small amount of BNB to cover transaction cost.</P> 
      <br>
      <p>(BNB token is the fuel or "gas" for sending and swaping tokens on the Binance Smart Chain Network)</p>
      <br>
      <p>Lets add a small amount of BNB to our Metamask wallet to cover network transaction fees</p> 
      <br>
      <p></p>
      </div>
      <div class="box-5">
      </div>
      <div class="box-7">
      <p><h2>Add BNB to MetaMask Wallet Via Binance-US</h1></p>
      <p><p1>1. Download and Install Binance Chain Wallet</p1></P>
      <p><p1>2. </p1></P>
      <p><p1>3. </p1></P>
      <p><p1>4. </p1></P>
      <p><p1>4. </p1></P>
        </div>
      <div class="box-8">
        </div>
  </div>
