extends layout
block content
  <div class="container">
     
      <div class="box-2"><p><H2>Summery</H2></p></div>
      <div class="box-3"><p><H2>Tokenomics</H2></p></div>
      <div class="box-4"><p><H2>Swap Tokens Via Pancakeswap</H2></p></div>
      <div class="box-6"><H2></H2>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></P> 
      <p><h3></h3></P>
      <p><h3></h3></P>
      <p><h3></h3></p>
      <p><h3></h3></p> 
      <p><h3></h3></p>
      <p> </P>
      <p> </P>
      <p></p>
      <p></p> 
      <p></P 
      <p></P> 
      <p></p>
      <p></p> 
      <p></p>
      </div>
      <div class="box-5">
      </div>
      <div class="box-7">
      <p><h2></h1></p>
      <p><p1>1. </p1></P>
      <p><p1>2. </p1></P>
      <p><p1>3. </p1></P>
      <p><p1>4. </p1></P>
      <p><p1>4. </p1></P>
        </div>
      <div class="box-8">
        </div>
  </div>
